<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odd One Out - Input</title>
    <link rel="stylesheet" href="{{url_for('static',filename='input.css')}}">
</head>

<body>
    <div class="title-section">
        <div class="title">
            Odd one out
        </div>
    </div>

    <div class="question">
        <form action="/process_input" method="POST">
            <label for="rounds">How many rounds would you like to play?</label><br>
            <input type="number" id="rounds" name="rounds">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>