<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odd One Out - Main Menu</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main-menu.css')}}">
</head>
<body>
    <div class="title-section">
        <div class="title">
            Odd One Out
        </div>
    </div>
    <div class="contents-section">
        <div class="base-game">
            <a href="/base"><button>Base Game</button></a>
        </div>
        <div class="time-race">
            <button>Time Race</button>
        </div>
        <div class="input-based">
            <button>Input Based</button>
        </div>
        <div class="hardcore">
            <button>Hardcore</button>
        </div>
        <div class="quit">
            <button>Quit</button>
        </div>
    </div>
</body>
</html>
