@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: black;
}

.title-section {
    background-color: #e98604;
    padding: none 10px 10px 10px;
    letter-spacing: 1px;
}

.title {
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}


.words-section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 100vh;
}


.words-section a {
    margin: 5px; 
    text-decoration: none; 
}

.words-section button {
    padding: 10px 20px; 
    background-color: #e98604; 
    font-size: 30px;
    letter-spacing: 1px;
    border: none;
    border-radius: 25px;
    min-height: 80px; 
    min-width: 200px;
    margin: 40px;
    transition: color 0.5s, background-color 0.5s, box-shadow 0.2s;
}


.words-section button:hover {
    background: radial-gradient(53.2% 178.72% at 27.1% 182.75%,#e98604 6.65%,#fceb05 100%);
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #fceb05;
    cursor: pointer;
}