@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100%;
}

.section #lost {
    font-size: 90px;
    font-weight: bold;
    background: linear-gradient(135deg, #29f039, #32a4d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section #score {
    font-size: 75px;
    color: white;
}

.section .buttons button {
    background-color: white;
    font-size: 30px;
    letter-spacing: 1px;
    border: none;
    border-radius: 25px;
    min-height: 80px; 
    min-width: 400px;
    margin: 40px;
    transition: color 0.5s, background-color 0.5s, box-shadow 0.2s;   
}

button:hover {
    background: radial-gradient(53.2% 178.72% at 27.1% 182.75%,#29f039 6.65%,#32a4d8 100%);
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #29f039;
    cursor: pointer;
}
